body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f7efef;
}
.container {
  display: flex;
  justify-content: space-between;
}
.header {
  position: fixed;
  width: 100%;
  box-shadow: 0px 2px 5px #b5b0b0;
  background-color: #f1be17;
  margin-bottom: 10px;
  font-size: 40px;
  color: white;
  font-weight: bold;
  font-family: monospace;
  padding-left: 10px;
  padding: 20px 20px;
}
.footer {
  position: absolute;
  margin-top: 30%;
  text-align: center;
  margin-left: 50%;
  opacity: 0.3;
  font-size: 10px;
}
.login {
  background-color: orange;
}
.login form {
  display: flex;
  justify-content: center;
  text-align: center;
}
.note {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px 5px;
  box-shadow: 0px 2px 5px #e4dfdf;
  background-color: white;
  width: 250px;
  border-radius: 10px;
  border: 1px solid rgb(241, 234, 223);
  margin: 16px;
  text-align: center;
}
.note button {
  border-radius: 10px;
  background-color: black;
  color: white;
  margin-top: 10px;
}
.conatiner .box {
  display: inline-block;
  padding: 10px 10px;
  width: 250px;
  height: 250px;
  border: none;
}
